# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\CS2113T repos\samplerepo-pr-practice\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
